<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>di halama ini menjelaskan bahwa setiap user setelah login aka di check</p>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {% if employee %}
        {% for emp in employee %}
            <input type="checkbox" id="emp" name="emp" value="{{emp.id}}"> {{ emp }} <br>
        {% endfor %}
    {% endif %}
    <br>
    <button>Save</button>
</form>
</body>
</html>