<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>di halama ini menjelaskan bahwa setiap user setelah login aka di check</p>
{{ user }} <br>
{{ stat }} <br>
<!--<a href="{% url 'dash:create-work' %}">Klik disini buat lokasi kerja</a> <br>-->
<a href="{% url 'dash:create-job' %}">Klik disini berikan pekerjaan</a>
<br>
{% for job in jobs %}
{{ job }} <br>
{% endfor %}
<br> <br>
<form action="{% url 'dash:delete-all' %}" method="post">
    {% csrf_token %}
    <button>delete</button>
</form>

<br> <br>
{% for inv in link %}
    {{ inv }} | {{ inv.status_print }} <br>
{% endfor %}
<br>
<br>
<form action="{% url 'dash:links' %}" method="post">
    {% csrf_token %}
    <button> Get new Link</button>
</form>
</body>
</html>